<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Search</title>
  <!-- Link to CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/books.css') }}">
</head>
<body>
  <h1>Explore Your Next Read</h1>
  <input type="text" id="searchBox" placeholder="Enter book name">
  <button onclick="searchBook()">Search</button>
  <div id="searchResults"></div>

  <!-- Link to JS -->
  <script src="{{ url_for('static', filename='js/javas.js') }}"></script>
</body>
</html>
